<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lijwen.dao.AttendanceclasschildMapper" >
  <resultMap id="BaseResultMap" type="com.lijwen.po.Attendanceclasschild" >
    <constructor >
      <idArg column="attendanceClassChildId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dealWithNumber" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dealWithName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="resultId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ignoreValue" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="wayId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="attendanceCTypeId" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    attendanceClassChildId, dealWithNumber, dealWithName, resultId, ignoreValue, wayId, 
    attendanceCTypeId
  </sql>
  <select id="selectByPrimaryKey" resultType="com.lijwen.po.Attendanceclasschild" parameterType="java.lang.Integer" >
    select 
    *
    from attendanceclasschild
    where attendanceClassChildId = #{attendanceclasschildid,jdbcType=INTEGER} and deleteNo=0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update  attendanceclasschild set deleteNo=1 
    where attendanceClassChildId = #{attendanceclasschildid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lijwen.po.Attendanceclasschild" >
    <selectKey resultType="java.lang.Integer" keyProperty="attendanceclasschildid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into attendanceclasschild (dealWithNumber, dealWithName, resultId, 
      ignoreValue, wayId, attendanceCTypeId,deleteNo
      )
    values (#{dealwithnumber,jdbcType=VARCHAR}, #{dealwithname,jdbcType=VARCHAR}, #{resultid,jdbcType=INTEGER}, 
      #{ignorevalue,jdbcType=INTEGER}, #{wayid,jdbcType=INTEGER}, #{attendancectypeid,jdbcType=INTEGER},0
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lijwen.po.Attendanceclasschild" >
    <selectKey resultType="java.lang.Integer" keyProperty="attendanceclasschildid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into attendanceclasschild
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dealwithnumber != null" >
        dealWithNumber,
      </if>
      <if test="dealwithname != null" >
        dealWithName,
      </if>
      <if test="resultid != null" >
        resultId,
      </if>
      <if test="ignorevalue != null" >
        ignoreValue,
      </if>
      <if test="wayid != null" >
        wayId,
      </if>
      <if test="attendancectypeid != null" >
        attendanceCTypeId,
      </if>
      deleteNo,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dealwithnumber != null" >
        #{dealwithnumber,jdbcType=VARCHAR},
      </if>
      <if test="dealwithname != null" >
        #{dealwithname,jdbcType=VARCHAR},
      </if>
      <if test="resultid != null" >
        #{resultid,jdbcType=INTEGER},
      </if>
      <if test="ignorevalue != null" >
        #{ignorevalue,jdbcType=INTEGER},
      </if>
      <if test="wayid != null" >
        #{wayid,jdbcType=INTEGER},
      </if>
      <if test="attendancectypeid != null" >
        #{attendancectypeid,jdbcType=INTEGER},
      </if>
        0,
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lijwen.po.Attendanceclasschild" >
    update attendanceclasschild
    <set >
      <if test="dealwithnumber != null" >
        dealWithNumber = #{dealwithnumber,jdbcType=VARCHAR},
      </if>
      <if test="dealwithname != null" >
        dealWithName = #{dealwithname,jdbcType=VARCHAR},
      </if>
      <if test="resultid != null" >
        resultId = #{resultid,jdbcType=INTEGER},
      </if>
      <if test="ignorevalue != null" >
        ignoreValue = #{ignorevalue,jdbcType=INTEGER},
      </if>
      <if test="wayid != null" >
        wayId = #{wayid,jdbcType=INTEGER},
      </if>
      <if test="attendancectypeid != null" >
        attendanceCTypeId = #{attendancectypeid,jdbcType=INTEGER},
      </if>
    </set>
    where attendanceClassChildId = #{attendanceclasschildid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lijwen.po.Attendanceclasschild" >
    update attendanceclasschild
    set dealWithNumber = #{dealwithnumber,jdbcType=VARCHAR},
      dealWithName = #{dealwithname,jdbcType=VARCHAR},
      resultId = #{resultid,jdbcType=INTEGER},
      ignoreValue = #{ignorevalue,jdbcType=INTEGER},
      wayId = #{wayid,jdbcType=INTEGER},
      attendanceCTypeId = #{attendancectypeid,jdbcType=INTEGER}
    where attendanceClassChildId = #{attendanceclasschildid,jdbcType=INTEGER}
  </update>
  
  
  <select id="selectAttendanceByIds" resultType="com.lijwen.po.Attendanceclasschild" parameterType="java.lang.Integer" >
        SELECT    attendanceClassChildId, dealWithName, dealWithNumber, resultId, ignoreValue, wayId, attendanceCTypeId
         FROM       attendanceClassChild
         where deleteNo=0
         <if test="attendanceCTypeIds.length>0">
         and attendanceClassChild.attendanceCTypeId in 
        <foreach collection="attendanceCTypeIds" item="item" open="(" separator=","  close=")" >
                 #{item}
            </foreach>
    </if>

  </select>
     <!--   根据考勤类别id查询考勤类别明细 -->
   <select id="selectAttendanceById" resultType="com.lijwen.po.Attendanceclasschild" parameterType="java.lang.Integer" >
        SELECT    attendanceClassChild.attendanceClassChildId, attendanceClassChild.dealWithNumber, attendanceClassChild.dealWithName, 
                 attendanceClassChild.ignoreValue, attributeGatherChild_1.Name AS 'chulijieguo.name', attendanceClassChild.resultId, 
                 attendanceClassChild.wayId, attributeGatherChild.Name AS 'sherufangshi.name', attendanceClassChild.attendanceCTypeId, 
                 attributeGatherChild_2.Name AS 'kaoqinleibie.name'
         FROM      attendanceClassChild INNER JOIN
                 attributeGatherChild AS attributeGatherChild_1 ON 
                 attendanceClassChild.resultId = attributeGatherChild_1.attributeGatherChildId INNER JOIN
                 attributeGatherChild ON attendanceClassChild.wayId = attributeGatherChild.attributeGatherChildId INNER JOIN
                 attributeGatherChild AS attributeGatherChild_2 ON 
                 attendanceClassChild.attendanceCTypeId = attributeGatherChild_2.attributeGatherChildId
                 where attendanceClassChild.deleteNo=0
                  <if test="attendanceCTypeId!=0" >
                  and
                  attendanceClassChild.attendanceCTypeId=
                  #{attendanceCTypeId,jdbcType=INTEGER}
                 </if>
                  
  
  </select>
</mapper>