<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lijwen.dao.LateAndLeaveEarlySystemMapper">
	<resultMap id="BaseResultMap" type="com.lijwen.po.LateAndLeaveEarlySystem">
		<constructor>
			<idArg column="lateAndLeaveEarlySystemId" jdbcType="INTEGER"
				javaType="java.lang.Integer" />
			<arg column="lateTime" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="lateAbsenteeismTime" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="lateAndLeaveEarlyNo" jdbcType="BIT" javaType="java.lang.Boolean" />
			<arg column="LeaveEarlyTime" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="LeaveEarlyAbsenteeismTime" jdbcType="INTEGER"
				javaType="java.lang.Integer" />
			<arg column="systemId" jdbcType="INTEGER" javaType="java.lang.Integer" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		lateAndLeaveEarlySystemId, lateTime, lateAbsenteeismTime, lateAndLeaveEarlyNo, LeaveEarlyTime,
		LeaveEarlyAbsenteeismTime, systemId
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from lateandleaveearlysystem
		where lateAndLeaveEarlySystemId =
		#{lateandleaveearlysystemid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from lateandleaveearlysystem
		where lateAndLeaveEarlySystemId =
		#{lateandleaveearlysystemid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lijwen.po.LateAndLeaveEarlySystem">
		<selectKey resultType="java.lang.Integer" keyProperty="lateandleaveearlysystemid"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into lateandleaveearlysystem (lateTime, lateAbsenteeismTime,
		lateAndLeaveEarlyNo,
		LeaveEarlyTime, LeaveEarlyAbsenteeismTime,
		systemId,deleteNo)
		values (#{latetime,jdbcType=INTEGER},
		#{lateabsenteeismtime,jdbcType=INTEGER},
		#{lateandleaveearlyno,jdbcType=BIT},
		#{leaveearlytime,jdbcType=INTEGER},
		#{leaveearlyabsenteeismtime,jdbcType=INTEGER},
		#{systemid,jdbcType=INTEGER},0)
	</insert>
	<insert id="insertSelective" parameterType="com.lijwen.po.LateAndLeaveEarlySystem">
		<selectKey resultType="java.lang.Integer" keyProperty="lateandleaveearlysystemid"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into lateandleaveearlysystem
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="latetime != null">
				lateTime,
			</if>
			<if test="lateabsenteeismtime != null">
				lateAbsenteeismTime,
			</if>
			<if test="lateandleaveearlyno != null">
				lateAndLeaveEarlyNo,
			</if>
			<if test="leaveearlytime != null">
				LeaveEarlyTime,
			</if>
			<if test="leaveearlyabsenteeismtime != null">
				LeaveEarlyAbsenteeismTime,
			</if>
			<if test="systemId != null">
				systemId,
			</if>
			deleteNo,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="latetime != null">
				#{latetime,jdbcType=INTEGER},
			</if>
			<if test="lateabsenteeismtime != null">
				#{lateabsenteeismtime,jdbcType=INTEGER},
			</if>
			<if test="lateandleaveearlyno != null">
				#{lateandleaveearlyno,jdbcType=BIT},
			</if>
			<if test="leaveearlytime != null">
				#{leaveearlytime,jdbcType=INTEGER},
			</if>
			<if test="leaveearlyabsenteeismtime != null">
				#{leaveearlyabsenteeismtime,jdbcType=INTEGER},
			</if>
			<if test="systemId != null">
				#{systemid,jdbcType=INTEGER},
			</if>
			0,
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lijwen.po.LateAndLeaveEarlySystem">
		update lateandleaveearlysystem
		<set>
			<if test="latetime != null">
				lateTime = #{latetime,jdbcType=INTEGER},
			</if>
			<if test="lateabsenteeismtime != null">
				lateAbsenteeismTime = #{lateabsenteeismtime,jdbcType=INTEGER},
			</if>
			<if test="lateandleaveearlyno != null">
				lateAndLeaveEarlyNo = #{lateandleaveearlyno,jdbcType=BIT},
			</if>
			<if test="leaveearlytime != null">
				LeaveEarlyTime = #{leaveearlytime,jdbcType=INTEGER},
			</if>
			<if test="leaveearlyabsenteeismtime != null">
				LeaveEarlyAbsenteeismTime =
				#{leaveearlyabsenteeismtime,jdbcType=INTEGER},
			</if>
			<if test="systemid != null">
				systemId = #{systemid,jdbcType=INTEGER},
			</if>
		</set>
		where lateAndLeaveEarlySystemId =
		#{lateandleaveearlysystemid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lijwen.po.LateAndLeaveEarlySystem">
		update lateandleaveearlysystem
		set lateTime = #{latetime,jdbcType=INTEGER},
		lateAbsenteeismTime = #{lateabsenteeismtime,jdbcType=INTEGER},
		lateAndLeaveEarlyNo = #{lateandleaveearlyno,jdbcType=BIT},
		LeaveEarlyTime = #{leaveearlytime,jdbcType=INTEGER},
		LeaveEarlyAbsenteeismTime = #{leaveearlyabsenteeismtime,jdbcType=INTEGER},
		systemId = #{systemid,jdbcType=INTEGER}
		where lateAndLeaveEarlySystemId =
		#{lateandleaveearlysystemid,jdbcType=INTEGER}
	</update>
	<select id="selectBySystemid" resultType="com.lijwen.po.LateAndLeaveEarlySystem"
		parameterType="java.lang.Integer">
		select *
		from lateandleaveearlysystem
		where systemId= #{systemid,jdbcType=INTEGER} and deleteNo=0
	</select>
	<update id="updateDeleteType" parameterType="java.lang.Integer">
		UPDATE lateandleaveearlysystem SET deleteNo=1
		WHERE lateAndLeaveEarlySystemId=#{lateAndLeaveEarlySystemId,jdbcType=INTEGER}
	</update>
	<!-- 判断数据是否有变动 -->
	<select id="PanDuanShuJuBianDong" resultType="com.lijwen.po.LateAndLeaveEarlySystem"
		parameterType="com.lijwen.po.LateAndLeaveEarlySystem">
		select *
		from lateandleaveearlysystem
		where lateTime = #{latetime,jdbcType=INTEGER} and
		lateAbsenteeismTime = #{lateabsenteeismtime,jdbcType=INTEGER} and
		lateAndLeaveEarlyNo = #{lateandleaveearlyno,jdbcType=BIT} and
		LeaveEarlyTime = #{leaveearlytime,jdbcType=INTEGER} and
		LeaveEarlyAbsenteeismTime = #{leaveearlyabsenteeismtime,jdbcType=INTEGER} and
		systemId = #{systemid,jdbcType=INTEGER} and deleteNo=0;
	</select>
	<!-- 迟到早退制度更改大于今天的分班记录的制度也要修改 -->
  <update  id="updateRecordBySystemMxId" >
  update staffclassesrecord set lateAndLeaveEarlySystemId=#{nowLateAndLeaveEarlySystemId,jdbcType=INTEGER}
  where workDate>DATE(NOW()) and lateAndLeaveEarlySystemId=#{beforeLateAndLeaveEarlySystemId,jdbcType=INTEGER}
  </update>
	
	<delete id="deleteBySystemid" parameterType="java.lang.Integer">
	update lateandleaveearlysystem set deleteNo=1 
		where systemId= #{systemid,jdbcType=INTEGER}
	</delete>
</mapper>