<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenbingxian.dao.StaffPositionPowerMapper" >
  <resultMap id="BaseResultMap" type="com.chenbingxian.po.StaffPositionPower" >
    <constructor >
      <idArg column="staffPositionPowerId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="staffPositionId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="powerId" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    staffPositionPowerId, staffPositionId, powerId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from staffpositionpower
    where staffPositionPowerId = #{staffpositionpowerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from staffpositionpower
    where staffPositionPowerId = #{staffpositionpowerid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chenbingxian.po.StaffPositionPower" >
    <selectKey resultType="java.lang.Integer" keyProperty="staffpositionpowerid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into staffpositionpower (staffPositionId, powerId)
    values (#{staffpositionid,jdbcType=INTEGER}, #{powerid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chenbingxian.po.StaffPositionPower" >
    <selectKey resultType="java.lang.Integer" keyProperty="staffpositionpowerid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into staffpositionpower
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="staffpositionid != null" >
        staffPositionId,
      </if>
      <if test="powerid != null" >
        powerId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="staffpositionid != null" >
        #{staffpositionid,jdbcType=INTEGER},
      </if>
      <if test="powerid != null" >
        #{powerid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenbingxian.po.StaffPositionPower" >
    update staffpositionpower
    <set >
      <if test="staffpositionid != null" >
        staffPositionId = #{staffpositionid,jdbcType=INTEGER},
      </if>
      <if test="powerid != null" >
        powerId = #{powerid,jdbcType=INTEGER},
      </if>
    </set>
    where staffPositionPowerId = #{staffpositionpowerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenbingxian.po.StaffPositionPower" >
    update staffpositionpower
    set staffPositionId = #{staffpositionid,jdbcType=INTEGER},
      powerId = #{powerid,jdbcType=INTEGER}
    where staffPositionPowerId = #{staffpositionpowerid,jdbcType=INTEGER}
  </update>
</mapper>