<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenbingxian.dao.OvertimeSystemMapper" >
  <resultMap id="BaseResultMap" type="com.chenbingxian.po.OvertimeSystem" >
    <constructor >
      <idArg column="overtimeSystemId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="overtime" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="earlyWorkToOvertimeNo" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="lateWorkToOvertiemNo" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="systemId" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    overtimeSystemId, overtime, earlyWorkToOvertimeNo, lateWorkToOvertiemNo, systemId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from overtimesystem
    where overtimeSystemId = #{overtimesystemid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from overtimesystem
    where overtimeSystemId = #{overtimesystemid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chenbingxian.po.OvertimeSystem" >
    <selectKey resultType="java.lang.Integer" keyProperty="overtimesystemid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into overtimesystem (overtime, earlyWorkToOvertimeNo, lateWorkToOvertiemNo, 
      systemId,deleteNo)
    values (#{overtime,jdbcType=INTEGER}, #{earlyworktoovertimeno,jdbcType=BIT}, #{lateworktoovertiemno,jdbcType=BIT}, 
      #{systemid,jdbcType=INTEGER},0)
  </insert>
  <insert id="insertSelective" parameterType="com.chenbingxian.po.OvertimeSystem" >
    <selectKey resultType="java.lang.Integer" keyProperty="overtimesystemid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into overtimesystem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="overtime != null" >
        overtime,
      </if>
      <if test="earlyworktoovertimeno != null" >
        earlyWorkToOvertimeNo,
      </if>
      <if test="lateworktoovertiemno != null" >
        lateWorkToOvertiemNo,
      </if>
      <if test="systemid != null" >
        systemId,
      </if>
      deleteNo,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="overtime != null" >
        #{overtime,jdbcType=INTEGER},
      </if>
      <if test="earlyworktoovertimeno != null" >
        #{earlyworktoovertimeno,jdbcType=BIT},
      </if>
      <if test="lateworktoovertiemno != null" >
        #{lateworktoovertiemno,jdbcType=BIT},
      </if>
      <if test="systemid != null" >
        #{systemid,jdbcType=INTEGER},
      </if>
      0,
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenbingxian.po.OvertimeSystem" >
    update overtimesystem
    <set >
      <if test="overtime != null" >
        overtime = #{overtime,jdbcType=INTEGER},
      </if>
      <if test="earlyworktoovertimeno != null" >
        earlyWorkToOvertimeNo = #{earlyworktoovertimeno,jdbcType=BIT},
      </if>
      <if test="lateworktoovertiemno != null" >
        lateWorkToOvertiemNo = #{lateworktoovertiemno,jdbcType=BIT},
      </if>
      <if test="systemid != null" >
        systemId = #{systemid,jdbcType=INTEGER},
      </if>
    </set>
    where overtimeSystemId = #{overtimesystemid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenbingxian.po.OvertimeSystem" >
    update overtimesystem
    set overtime = #{overtime,jdbcType=INTEGER},
      earlyWorkToOvertimeNo = #{earlyworktoovertimeno,jdbcType=BIT},
      lateWorkToOvertiemNo = #{lateworktoovertiemno,jdbcType=BIT},
      systemId = #{systemid,jdbcType=INTEGER}
    where overtimeSystemId = #{overtimesystemid,jdbcType=INTEGER}
  </update>
  <update id="updateDeleteType" parameterType="java.lang.Integer">
		UPDATE overtimesystem SET deleteNo=1
		WHERE overtimeSystemId=#{overtimeSystemId,jdbcType=INTEGER}
	</update>
	<!-- 判断数据是否有变动 -->
	<select id="PanDuanShuJuBianDong" resultType="com.chenbingxian.po.OvertimeSystem"
		parameterType="com.chenbingxian.po.OvertimeSystem">
		select *
	  from overtimesystem
	  where 
	  overtime = #{overtime,jdbcType=INTEGER} and
      earlyWorkToOvertimeNo = #{earlyworktoovertimeno,jdbcType=BIT} and 
      lateWorkToOvertiemNo = #{lateworktoovertiemno,jdbcType=BIT} and 
      systemId = #{systemid,jdbcType=INTEGER} and deleteNo=0;
	</select>
   <select id="SelectBySystemid" resultType="com.chenbingxian.po.OvertimeSystem" parameterType="java.lang.Integer" >
    select *
    from overtimesystem
   where systemId= #{systemid,jdbcType=INTEGER} and deleteNo=0
  </select>
   <delete id="deleteBySystemid" parameterType="java.lang.Integer" >
    update overtimesystem set deleteNo=1 
    where systemId= #{systemid,jdbcType=INTEGER}
  </delete>
 <!--  加班制度更改大于今天的分班记录的制度也要修改 -->
  <update  id="updateRecordBySystemMxId" >
  update staffclassesrecord set overtimeSystemId=#{nowOvertimeSystemId,jdbcType=INTEGER}
  where workDate>DATE(NOW()) and overtimeSystemId=#{beforeOvertimeSystemId,jdbcType=INTEGER}
  </update>
</mapper>